<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cachingSection" type="CoreApplication.Common.Caching.Configuration.CachingSection,CoreApplication.Common"/>
  </configSections>
  <cachingSection cacheType="WebCache" defaultLifetime="10000"/>
</configuration>