<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionHandlingSection" type="CoreApplication.Common.ExceptionHandling.Configuration.ExceptionHandlingSection, CoreApplication.Common" />
    <section name="instrumentationSection" type="CoreApplication.Common.Instrumentation.Configuration.InstrumentationSection, CoreApplication.Common" />
    <section name="cachingSection" type="CoreApplication.Common.Caching.Configuration.CachingSection, CoreApplication.Common" />
  </configSections>

  <appSettings>
    <add key="CoreApplication.Common.Security.Authentication.MockMode" value="true"/>
    <add key="CoreApplication.Common.Security.Password.MockMode" value="true"/>
    <add key="CoreApplication.Common.Security.Authorization.MockMode" value="true"/>
    <add key="CoreApplication.Common.Security.Auditing.MockMode" value="true"/>
    <add key="CoreApplication.Shell.ModulesPath" value="C:\Users\jcandia\Desktop\ClinicaAlemana-master\ModulesBin"/>
    
  </appSettings>

  <!--EXCEPTION HANDLING-->
  <exceptionHandlingSection>
    <exceptionPolicies>
      <add name="CoreApplication.Common" log="true">
        <exceptionTypes>
          <add name="DirectoryNotFoundException"
               type="System.IO.DirectoryNotFoundException"
               action="Wrap"
               newExceptionType="CoreApplication.Shell.Exceptions.ShellException, CoreApplication.Shell"
               newExceptionMessage="Ha ocurrido un error al inicializar el catálogo de módulos. Por favor verifique la ruta configurada donde se encuentran los módulos" />
          <add name="Exception"
               type="System.Exception"
               action="Wrap"
               newExceptionType="CoreApplication.Shell.Exceptions.ShellException, CoreApplication.Shell"
               newExceptionMessage="Ha ocurrido un error inesperado al inicializar el catálogo de módulos." />
        </exceptionTypes>
      </add>
        <add name="CoreApplication.Shell.Bootstrap" log="true">
        <exceptionTypes>
          <add name="DirectoryNotFoundException"
               type="System.IO.DirectoryNotFoundException"
               action="Wrap"
               newExceptionType="CoreApplication.Shell.Exceptions.ShellException, CoreApplication.Shell" 
               newExceptionMessage="Ha ocurrido un error al inicializar el catálogo de módulos. Por favor verifique la ruta configurada donde se encuentran los módulos" />
          <add name="Exception"
               type="System.Exception"
               action="Wrap"
               newExceptionType="CoreApplication.Shell.Exceptions.ShellException, CoreApplication.Shell"
               newExceptionMessage="Ha ocurrido un error inesperado al inicializar el catálogo de módulos." />
        </exceptionTypes>
      </add>
    </exceptionPolicies>
   </exceptionHandlingSection>



      <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
