<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionHandlingSection" type="Alemana.Nucleo.Common.ExceptionHandling.Configuration.ExceptionHandlingSection, Alemana.Nucleo.Common" />
    <section name="instrumentationSection" type="Alemana.Nucleo.Common.Instrumentation.Configuration.InstrumentationSection, Alemana.Nucleo.Common" />
    <section name="cachingSection" type="Alemana.Nucleo.Common.Caching.Configuration.CachingSection, Alemana.Nucleo.Common" />
  </configSections>

  <appSettings>
    <add key="Alemana.Nucleo.Common.Security.Authentication.MockMode" value="true"/>
    <add key="Alemana.Nucleo.Common.Security.Password.MockMode" value="true"/>
    <add key="Alemana.Nucleo.Common.Security.Authorization.MockMode" value="true"/>
    <add key="Alemana.Nucleo.Common.Security.Auditing.MockMode" value="true"/>
    <add key="Alemana.Nucleo.Shell.ModulesPath" value="E:\SISTEMAS\00 NUCLEO\01 Modulos\Shell\ClinicaAlemana-master\ModulesBin"/>
    
  </appSettings>

  <!--EXCEPTION HANDLING-->
  <exceptionHandlingSection>
    <exceptionPolicies>
      <add name="Alemana.Nucleo.Common" log="true">
        <exceptionTypes>
          <add name="DirectoryNotFoundException"
               type="System.IO.DirectoryNotFoundException"
               action="Wrap"
               newExceptionType="Alemana.Nucleo.Shell.Exceptions.ShellException, Alemana.Nucleo.Shell"
               newExceptionMessage="Ha ocurrido un error al inicializar el catálogo de módulos. Por favor verifique la ruta configurada donde se encuentran los módulos" />
          <add name="Exception"
               type="System.Exception"
               action="Wrap"
               newExceptionType="Alemana.Nucleo.Shell.Exceptions.ShellException, Alemana.Nucleo.Shell"
               newExceptionMessage="Ha ocurrido un error inesperado al inicializar el catálogo de módulos." />
        </exceptionTypes>
      </add>
        <add name="Alemana.Nucleo.Shell.Bootstrap" log="true">
        <exceptionTypes>
          <add name="DirectoryNotFoundException"
               type="System.IO.DirectoryNotFoundException"
               action="Wrap"
               newExceptionType="Alemana.Nucleo.Shell.Exceptions.ShellException, Alemana.Nucleo.Shell" 
               newExceptionMessage="Ha ocurrido un error al inicializar el catálogo de módulos. Por favor verifique la ruta configurada donde se encuentran los módulos" />
          <add name="Exception"
               type="System.Exception"
               action="Wrap"
               newExceptionType="Alemana.Nucleo.Shell.Exceptions.ShellException, Alemana.Nucleo.Shell"
               newExceptionMessage="Ha ocurrido un error inesperado al inicializar el catálogo de módulos." />
        </exceptionTypes>
      </add>
    </exceptionPolicies>
   </exceptionHandlingSection>



      <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
